<section *ngIf="!user">
  <div class="landing text-center row">
    <div class="home-heading-wrapper">
      <div class="logo-claim">
        <img src="../../assets/logo_white.svg" alt="inPause logo">
      </div>
      <h2>Your TV Series App</h2>
      <p>Search your favorite series, save them, and keep a record of the ones you've already seen and those you're interested in seeing later</p>
      <h3>We have more than 20.000 TV series for you!!</h3>
    </div>
  </div>
  <div class="panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4 text-center landing-info">
          <i class="fa fa-search fa-4x" aria-hidden="true"></i><h4 class="text-center">Search & find your favorites series</h4>
        </div>
        <div class="col-md-4 text-center landing-info">
          <i class="fa fa-thumbs-up fa-4x" aria-hidden="true"></i><h4 class="text-center">Choose a serie. See it's info and save it</h4>
        </div>
        <div class="col-md-4 text-center landing-info">
          <i class="fa fa-check fa-4x" aria-hidden="true"></i><h4 class="text-center">Keep track of your series and what you are interested in seeing</h4>
        </div>
      </div>
    </div>
  </div>
</section>
