<div class="landing text-center row">
  <div class="home-heading-wrapper">
      <!-- <img class="logo-claim" src="/images/logo-claim.svg" alt="Artiium Logo and claim"> -->
      <h2>Your Series TV App</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
  </div>
</div>

<div class="panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 text-center">
        <h4 class="text-center">Explication 1</h4>
      </div>
      <div class="col-md-4 text-center">
        <h4 class="text-center">Explication 1</h4>
      </div>
      <div class="col-md-4 text-center">
        <h4 class="text-center">Explication 1</h4>
      </div>
    </div>
  </div>
</div>
