.logo-home{
  margin: 0 auto;
  width: 20%;
  min-width: 300px;
  padding-bottom: 50px;
}

.search-nav{
  width: 100%;
  background: #1b1b1b;
  margin:0 auto;
  padding-top: 60px;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
  }

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.form-wrapper {
  width: 90%;
  padding: 15px;
  margin: 0 auto;
}

.form-wrapper input {
  width: 80%;
  padding: 10px 25px;
  float: left;
  border: 0;
  background: #eee;
  border-radius: 3px 0 0 3px;
  }

.form-wrapper input:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  }

.form-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 20%;
  color: #fff;
  text-transform: uppercase;
  background: #d86e3c;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.form-wrapper button:hover {
  background: #ff612c;
}

.form-wrapper button:active,
.form-wrapper button:focus {
  background: #ff612c;
}

.form-wrapper button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d86e3c transparent;
  top: 12px;
  left: -6px;
}

.form-wrapper button:hover:before {
  border-right-color: #ff612c;
}

.form-wrapper button:focus:before {
  border-right-color: #ff612c;
}

.form-wrapper button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.search {
  padding-top: 3%;
}

.search-button {
  margin-left: 4px!important;
}

.suggestions {
  padding-top: 20px;
  width:80%;
  z-index: 999;
}

.suggestions ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.suggestions ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.suggestions ul li a {
  padding:5px;
  display: block;
  text-decoration: none;
  color:#d86e3c;
}

.suggestions ul li a:hover {
  color: #1b1b1b;
  text-decoration: none;
  background-color: #f1f1f1;
}

.suggestions-nav-bar {
  width:246px;
}

.search-result-remove-btn {
  margin-top: -45px;
}

.bg-home {
  margin-bottom: 20px;
  background-color: #1b1b1b;
}

.wrap-series{
  width: 80%;
  margin: 0 auto;
}

.section-home{
  color: #d86e3c;
  padding: 80px 30px 30px 30px;
  margin: 0 auto 50px auto;
  text-align: center;
  border-bottom: 2px solid #d86e3c;
}

.serie-name{
  color: #FFF;
  height: 125px;
}

.poster-img{
  height: 390px;
  background-color: inherit;
  border: inherit;
  border-radius: inherit;
  opacity: 0.7;
  -webkit-box-reflect: below 0px
  -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}

.poster-img:hover{
  opacity: 1;
  border: 1px ridge #d86e3c;
  box-sizing: border-box;
}
