<section class="search-nav">
  <div class="logo-home">
    <img src="../../assets/logo_white.svg" alt="inPause logo">
  </div>
  <form class="form-wrapper cf" (submit)="searchSeries()">
    <input name="searchQuery" type="text" placeholder="Search Your Series here..." autocomplete="off" [(ngModel)]="searchQuery" (keyup)="autocompleteSearchSeries()">
    <button type="submit">Search</button>
    <div class="suggestions" *ngIf="autocompleteSeries.length > 0">
      <ul>
        <li *ngFor="let serie of autocompleteSeries">
          <a (click)="select(serie.name)">{{serie.name}}</a>
        </li>
      </ul>
    </div>
  </form>
</section>

<app-series-search></app-series-search>

<section class="bg-home">
  <div class="container">
    <h2 class="section-home">Popular Series</h2>
    <div class="row" *ngIf="popularSeries">
      <div *ngFor="let serie of popularSeries, let i = index" class="col-md-3 col-sm-4 text-center">
        <a routerLink="/serie/{{serie.id}}" *ngIf="i < 20">
          <img *ngIf="serie.poster_path" class="img-thumbnail poster-img" src="https://image.tmdb.org/t/p/w300/{{serie.poster_path}}">
          <img *ngIf="!serie.poster_path" class="img-thumbnail poster-img" src="https://www.clapsnslaps.com/assets/images/noposter1.jpg">
        </a>
        <h4 class="text-center serie-name">{{serie.name}}</h4>
      </div>
    </div>

    <h2 class="section-home">Top Rated Series</h2>
    <div class="row" *ngIf="topRatedSeries">
      <div *ngFor="let serie of topRatedSeries, let i = index" class="col-md-3 col-sm-4 text-center">
        <a routerLink="/serie/{{serie.id}}" *ngIf="i < 20">
          <img *ngIf="serie.poster_path" class="img-thumbnail poster-img" src="https://image.tmdb.org/t/p/w300/{{serie.poster_path}}">
          <img *ngIf="!serie.poster_path" class="img-thumbnail poster-img" src="https://www.clapsnslaps.com/assets/images/noposter1.jpg">
        </a>
        <h4 class="text-center serie-name">{{serie.name}}</h4>
      </div>
    </div>

    <h2 class="section-home">Now Playing Series</h2>
    <div class="row" *ngIf="nowPlayingSeries">
      <div *ngFor="let serie of nowPlayingSeries, let i = index" class="col-md-3 col-sm-4 text-center">
        <a routerLink="/serie/{{serie.id}}"  *ngIf="i < 20">
          <img *ngIf="serie.poster_path" class="img-thumbnail poster-img" src="https://image.tmdb.org/t/p/w300/{{serie.poster_path}}">
          <img *ngIf="!serie.poster_path" class="img-thumbnail poster-img" src="https://www.clapsnslaps.com/assets/images/noposter1.jpg">
        </a>
        <h4 class="text-center serie-name">{{serie.name}}</h4>
      </div>
    </div>
  </div>
</section>
