<section class="profile-bg">
  <header>
    <div *ngIf="user" class="profile-wrap">
      <div class="profile-avatar">
        <img [src]="user.imgUrl" alt="img profile">
      </div>
      <h3 class="profile-name">{{user.username}}</h3>
      <h2 class="serie-list-title">My series list</h2>
    </div>
  </header>
  <div class="row" *ngIf="seriesList" class="serie-list">
    <div *ngFor="let serie of seriesList" class="col-xs-12 text-center serie-element">
      <div class="col-md-4 col-xs-12 text-center">
        <img *ngIf="serie.poster_path" class="img-thumbnail poster-img" src="https://image.tmdb.org/t/p/w300/{{serie.poster_path}}">
        <img *ngIf="!serie.poster_path" class="img-thumbnail poster-img" src="https://www.clapsnslaps.com/assets/images/noposter1.jpg">
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <h4 class="text-center serie-name">{{serie.name}}</h4>
        <ul class="list-group serie-poster-container">
          <li class="list-group-item serie-info">
            <strong>Seasons: </strong> {{serie.number_of_seasons}}
          </li>
          <li class="list-group-item serie-info">
            <strong>Episodes: </strong> {{serie.number_of_episodes}}
          </li>
          <li class="list-group-item serie-info">
            <strong>Status: </strong> {{serie.status}}
          </li>
          <!-- <li class="list-group-item serie-info">
            <strong>Overview:</strong> {{serie.overview}}
          </li> -->

          <li class="list-group-item serie-info">
            <strong>Genres:</strong> <span *ngFor="let gen of serie.genres">{{gen.name}} </span>
          </li>

          <li class="list-group-item serie-info">
            <strong>Rating:</strong> {{serie.vote_average}}
          </li>
          <button *ngIf="serie.isView === false" class="btn serie-btn-to-see btn-block" (click)="notSerieSaw(serie.databaseID)">Pending to See</button>
          <button *ngIf="serie.isView === true" class="btn serie-btn-serie-saw btn-block" (click)="serieSaw(serie.databaseID)">Already Saw</button>
          <button class="btn serie-btn-delete btn-block" (click)="deleteToMyList(serie.databaseID)">Delete It</button>
        </ul>
      </div>
      <!-- <section class="col-xs-12">
          <ul *ngFor="let episodes of serie.seasons" class="list-group-item serie-info col-md-1 col-sm-2 col-xs-6 text-center">
            <img *ngIf="episodes.poster_path" class="img-thumbnail poster-season-img" src="https://image.tmdb.org/t/p/w300/{{episodes.poster_path}}">
            <img *ngIf="!episodes.poster_path" class="img-thumbnail poster-season-img" src="https://www.clapsnslaps.com/assets/images/noposter1.jpg">
            <li class="list-group-item serie-info">
              <strong>Season: </strong> {{episodes.season_number}}
            </li>
            <li class="list-group-item serie-info">
              <strong>Episodes: </strong> {{episodes.episode_count}}
            </li>
          </ul>
      </section> -->
    </div>
  </div>
</section>
