<section class="profile-bg">
  <header>
    <div *ngIf="user" class="profile-wrap">
      <div class="profile-avatar">
        <img [src]="user.imgUrl" alt="img profile">
      </div>
      <h3 class="profile-name">{{user.username}}</h3>
      <h2 class="serie-list-title">My series list</h2>
    </div>
  </header>
  <div class="row" *ngIf="seriesList" class="serie-list">
    <div *ngFor="let serie of seriesList" class="col-xs-12 text-center serie-element">
      <div class="col-md-4 col-xs-12 text-center">
        <img *ngIf="serie.poster_path" class="img-thumbnail poster-img" src="https://image.tmdb.org/t/p/w300/{{serie.poster_path}}">
        <img *ngIf="!serie.poster_path" class="img-thumbnail poster-img" src="https://www.clapsnslaps.com/assets/images/noposter1.jpg">
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <h4 class="text-center serie-name">{{serie.name}}</h4>
        <ul class="list-group serie-poster-container">
          <li class="list-group-item serie-info">
            <strong>Seasons: </strong> {{serie.number_of_seasons}}
          </li>
          <li class="list-group-item serie-info">
            <strong>Episodes: </strong> {{serie.number_of_episodes}}
          </li>
          <li class="list-group-item serie-info">
            <strong>Status: </strong> {{serie.status}}
          </li>
          <!-- <li class="list-group-item serie-info">
            <strong>Overview:</strong> {{serie.overview}}
          </li> -->

          <li class="list-group-item serie-info">
            <strong>Genres:</strong> <span *ngFor="let gen of serie.genres">{{gen.name}} </span>
          </li>

          <li class="list-group-item serie-info">
            <strong>Rating:</strong> {{serie.vote_average}}
          </li>
        </ul>
      </div>
      <div class="col-xs-12 text-center">
        <button *ngIf="options.isView === false" class="btn serie-btn-add-list btn-block" (click)="addToMyList()">Yet don't saw</button>
        <button *ngIf="options.isView === true" class="btn serie-btn-add-list btn-block" (click)="addToMyList()">Yet don't saw</button>
        <button class="btn serie-btn-delete btn-block" (click)="deleteToMyList(serie.id,user._id)">Delete It</button>
      </div>
      <!-- <p class="text-center"><strong>Rating: </strong>{{serie.vote_average}}</p> -->
    </div>
  </div>
    <!-- <div class="row">
      <div class="col-md-4 col-md-offset-2 text-center">
        <img *ngIf="serie.poster_path" class="img-thumbnail serie-poster" src="https://image.tmdb.org/t/p/w300/{{serie.poster_path}}">
        <img *ngIf="!serie.poster_path" class="img-thumbnail serie-poster" src="http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
      </div>
      <div class="col-md-4 text-center">
        <h2 class="serie-name">{{user.username}}</h2>
        <ul class="list-group serie-poster-container">
          <li class="list-group-item serie-info">
            <strong>Seasons </strong> {{serie.number_of_seasons}}
          </li>
          <li class="list-group-item serie-info">
            <strong>Overview:</strong> {{serie.overview}}
          </li>

          <li class="list-group-item serie-info">
            <strong>Genres:</strong> <span *ngFor="let gen of serie.genres">{{gen.name}} </span>
          </li>

          <li class="list-group-item serie-info">
            <strong>Rating:</strong> {{serie.vote_average}}
          </li>
        </ul>

        <button class="btn serie-btn-add-list btn-block" (click)="addToMyList()">Add to my list</button>
        <a *ngIf="serie.homepage" href="{{serie.homepage}}" target="_blank" class="btn serie-btn-homepage btn-block">Serie Homepage</a>
      </div>
    </div> -->
</section>
