.close-search-container{
  top: -120px;
  position: relative;
  /*float: right;*/
}

.close-search{
  /*position: relative;*/
  color: #1b1b1b;
  margin: 0 auto 50px auto;
  padding: 8px;
  /*top: -120px;*/
  border-radius: 50%;
  background-color: #d86e3c;
  /*z-index: 0;*/
}

.close-search:hover{
  background-color: #ff612c;
}

.section-search{
  color: #d86e3c;
  padding: 80px 30px 30px 30px;
  margin: 0 auto 50px auto;
  text-align: center;
  border-bottom: 2px solid #d86e3c;
}

.bg-search{
  background-color: #1b1b1b;
}

.wrap-search{
  width: 80%;
  margin: 0 auto;
}

.poster-img{
  height: 390px;
  background-color: inherit;
  border: inherit;
  border-radius: inherit;
  -webkit-box-reflect: below 0px
  -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}

.serie-name{
  color: #fff;
  height: 125px;
}
