<section *ngIf="seriesService.sharedSearchResult.length > 0">
  <div class="panel">
    <div class="panel-heading">
      <h3>Search Results</h3>
        <a (click)="removeSearchResults()" class="btn pull-right search-result-remove-btn">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
    <div class="panel-body">
      <div class="row search">
        <div *ngFor="let serie of seriesService.sharedSearchResult, let i = index">
          <div class="col-md-2 text-center arrange">
            <h4 class="text-center serie-name">{{serie.name}}</h4>
            <a routerLink="/serie/{{serie.id}}" >
              <img *ngIf="serie.poster_path" class="img-thumbnail poster-img" src="https://image.tmdb.org/t/p/w300/{{serie.poster_path}}">
              <img *ngIf="!serie.poster_path" class="img-thumbnail poster-img" src="http://http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
            </a>
            <!-- <p class="text-center"><strong>Rating: </strong>{{serie.vote_average}}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
