.serie-body{
  background-color: #1b1b1b;
  margin: 0 auto;
}
.serie-wrap{
  width: 90%;
  margin: 0 auto;
}

.serie-name,.serie-container-info{
  padding-top: 100px;
}

.serie-name{
  color: #d86e3c;
  border-bottom: 2px solid #d86e3c;
  padding-bottom: 10px;
}

.serie-info{
  background-color: inherit;
  color: #FFF;
  background-color: inherit;
  border: inherit;
  border-radius: inherit;
}

.serie-btn-homepage {
    color: #FFF;
    background-color: #d86e3c;
    border-color: #d86e3c;
}

.serie-btn-homepage:hover {
    background-color: #ff612c;
    border-color: #ff612c;
}

.serie-btn-add-list {
    color: #FFF;
    background-color: #0e209a;
    border-color: #0e209a;
}

.serie-btn-add-list:hover {
    background-color: #2243f1;
    border-color: #2243f1;
}

.serie-poster,.serie-rec-poster{
  background-color: inherit;
  border: inherit;
  border-radius: inherit;
  opacity: 0.7;
  -webkit-box-reflect: below 0px
  -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}

.serie-poster:hover,.serie-rec-poster:hover{
  opacity: 1;
  border: 1px ridge #d86e3c;
  box-sizing: border-box;
}

.serie-similar-container{
  padding: 30px 0px;
}

.serie-name-recomended{
  color: #FFF;
  padding-bottom: 50px;
}
