<app-series-search> </app-series-search>

<div *ngIf="serie">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="text-center">{{serie.title}}</h2>
    </div>
    <div class="panel-body">
      <div class="row">

        <div class="col-md-6">
          <img *ngIf="serie.poster_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w500/{{serie.poster_path}}">
          <img *ngIf="!serie.poster_path" class="img-thumbnail" src="http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
        </div>

        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Original Title:</strong> {{serie.original_title}}
            </li>
            <li class="list-group-item">
              <strong>Overview:</strong> {{serie.overview}}
            </li>
            <li class="list-group-item">
              <strong>Budget:</strong> {{serie.budget}}
            </li>
            <li class="list-group-item">
              <strong>Genres:</strong> <span *ngFor="let gen of serie.genres">{{gen.name}} </span>
            </li>
            <li class="list-group-item">
              <strong>Release Date:</strong> {{serie.release_date}}
            </li>
            <li class="list-group-item">
              <strong>Rating:</strong> {{serie.vote_average}}
            </li>
            <li class="list-group-item">
              <strong>Rating count:</strong> {{serie.vote_count}}
            </li>
          </ul>

          <hr />

          <a *ngIf="serie.homepage" href="{{serie.homepage}}" target="_blank" class="btn btn-primary btn-lg btn-block">Serie Homepage</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="similarSeries.length > 0">
    <div class="panel panel-default">
      <div class="panel-heading">
      <h3 class="text-center">Recommended Series</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div *ngFor="let serie of similarSeries, let i = index">
            <div *ngIf="i < 6" class="col-md-2 text-center">
              <a href="#" routerLink="/serie/{{serie.id}}" >
                <img *ngIf="serie.poster_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w300/{{serie.poster_path}}">
                <img *ngIf="!serie.poster_path" class="img-thumbnail" src="http://http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
              </a>
              <h4 class="text-center">{{serie.title}}</h4>
              <p class="text-center"><strong>Rating: </strong>{{serie.vote_average}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
