
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div *ngIf="!user" class="navbar-header my-nav">
      <a class="navbar-brand" [routerLink]="['/']">Logo</a>
    </div>
    <div *ngIf="user" class="navbar-header my-nav">
      <a class="navbar-brand" [routerLink]="['/home']">Logo</a>
    </div>
    <ul *ngIf="!user" class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['/signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <ul *ngIf="user" class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['/logout']"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      <li><a [routerLink]="['/profile']"><span class="glyphicon glyphicon-user"></span> {{user.username}}</a></li>
    </ul>
  </div>
</nav>

  <!-- <div *ngIf="!user">
    <button (click)="login()"> login </button>
    <button (click)="signup()"> signup </button>
  </div>

  <div *ngIf="user">
    <h2> You are now logged in as {{ user.username }}!! </h2>
    <p> Here's the user object </p>
    <pre> {{ user | json }} </pre>

    <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
    <pre> {{ privateData | json }} </pre>
    <button (click)="logout()"> logout </button>
    <button (click)="getPrivateData()"> Get private data </button>
  </div>

  <p class="error"> {{ error }} </p> -->
