.my-nav{
  color: #FFF;
}

.navbar-inverse{
  background-color: #d86e3c;
  border-color: #d86e3c;
}

.navbar-logo{
}

.navbar-logo > img{
  width: 80px;
  padding-top: 8px;
}

.logout-button {
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    color: #000;
    background-color: inherit;;
    box-sizing: none;
    padding-top: 15px;
    border-width: 2px;
    border-style: inherit;
    border-color: inherit;
    border-image: inherit;
}

.logout-button:hover{
    color: #FFF;

}

.navbar-inverse .navbar-brand, .navbar-nav>li>a{
  color: #000;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: #FFF;
}

.nav>li{
  padding-right: 30px;
}
